*.lo
*.la
*.*~
autom4te.cache
build
include
modules
.deps
.libs
acinclude.m4
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
run-tests.php
.cproject
.project
/.settings
